/* Styling the main content area */
@media screen and (min-width: 1000px) {
    .container-fluid {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .container-fluid {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 1500px) {
    .container-fluid {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1700px) {
    .container-fluid {
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* Styling Navbar and NavbarLanPg */
@media screen and (min-width: 1000px) {
    .navbar {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 1500px) {
    .navbar {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1700px) {
    .navbar {
        padding-left: 25%;
        padding-right: 25%;
    }
}

:root {
    --theme-main-color: rgb(137, 50, 218);
    --theme-button-color: rgb(161, 52, 211);
    --bootstrap-bg-light: #f8f9fa;
}

.navbar {
    background: var(--theme-main-color);
}

/* 
    Making the footer stick at the bottom
    navbar-signup-page 100px 
    main-navbar 45px 
    footer 45px 
*/
.container-fluid:not(.container-sign-up-page) {
    min-height: calc(100vh - (45px + 45px));
}

/* Making all cards borderless */
.card {
    border: none;
    background: var(--bootstrap-bg-light);
}

.my-card-footer {
    padding: 1.25rem;
}
