@media screen and (min-width: 1000px) {
    .container-fluid {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .container-fluid {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 1500px) {
    .container-fluid {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1700px) {
    .container-fluid {
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* min-height(687px) = Navbar(44px) + .profile-page-container(590px) + Footer(35px) */
@media screen and (min-height: 669px) {
    .main-container {
        min-height: 711px; /* window.innerHeight(790px) - (Navbar + Footer) */
    }
}
