.event-card {
    display: inline-block;
}

.event-card img {
    width: 100%;
    height: 100%;
}

a.event-card {
    color: white !important;
    background: var(--theme-button-color);
}

/* @media screen and (min-width: 768px) {
    .event-card img {
        width: 700px;
        height: 400px;
    }
} */
