.event-card {
    display: inline-block;
    max-width: 800px;
}

.event-card img {
    width: 100%;
    height: 100%;
}

a.event-card {
    color: white !important;
    background: var(--theme-button-color);
}
