.profile-card {
    max-width: 350px;
}

.profile-card img {
    width: 100%;
    height: 100%;
}

a.btn {
    color: white !important;
    background: rgb(163, 31, 196);
}

.fa-map-marker-alt {
    color: rgb(137, 50, 218);
}

.fa-envelope {
    color: rgb(137, 50, 218);
}
