.my-navbar {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px;
    background: rgb(143, 40, 143);
}

a.nav-link.active {
  border-bottom: 2px solid white;
}

.my-toggle {
  display: none;
}