@media screen and (min-width: 1000px) {
    .navbar {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 1500px) {
    .navbar {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1700px) {
    .navbar {
        padding-left: 25%;
        padding-right: 25%;
    }
}

.navbar {
    background: rgb(137, 50, 218);
}

img {
    width: 35px;
    height: 35px;
}

.navbar-nav a {
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
}

.navbar-nav a:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 4px solid white;
}

a.this-tab {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 4px solid white;
}

.nav-item.dropdown a {
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
}

.nav-item.dropdown a:hover {
    border-bottom: 4px solid white;
}

.dropdown-menu a:hover {
    background: rgb(232, 232, 235);
}
