.log-LanPg {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
    font-size: 3em;
}

img {
    width: 100px;
    height: 100px;
}

.navbar button {
    background: rgb(115, 11, 212);
    border: 1px solid rgb(89, 15, 158);
}

.navbar button:hover {
    background: rgb(104, 9, 104);
}

.form-inline input {
    border: 0;
}

.form-inline input:focus {
    outline: 0;
    background: rgb(231, 222, 171);
}
