@media screen and (min-width: 1000px) {
    .navbar {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 1500px) {
    .navbar {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1700px) {
    .navbar {
        padding-left: 25%;
        padding-right: 25%;
    }
}

.navbar {
    background: rgb(137, 50, 218);
}

.log-LanPg {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 3em;
}

img {
    width: 100px;
    height: 100px;
}

.navbar button {
    background: rgb(115, 11, 212);
    border: 1px solid rgb(89, 15, 158);;
}

.navbar button:hover {
    background: rgb(104, 9, 104);
}

.form-inline input {
    border: 0;
}

.form-inline input:focus {
    outline: 0;
    background: rgb(231, 222, 171);
}
